{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- manual styles for troubleshooting static css file loading -->
        <style>
        </style>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Native Styles -->
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/main.css' %}">
        <!-- FontAwesome 4 -->
        <!-- For font name references: https://fontawesome.com/v4.7.0/icons/ -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
        {% if title %}
            <title>CLT ToolBox | {{ title }}</title>
        {% else %}
            <title>CLT ToolBox</title>
        {% endif %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <!-- Left Side -->
                    <div class="navbar-nav mr-auto">
                        <!-- Home Tab -->
                        {% if request.path == "/" %}
                            <a class="nav-item nav-link active disabled" onclick="return false" href="{% url 'dashboard-home' %}"><i class="fa fa-home"></i> Home</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'dashboard-home' %}"><i class="fa fa-home"></i> Home</a>
                        {% endif %}
                        <!-- DOL Tab -->
                        {% if request.path == "/cltlog/" %}
                            <a class="nav-item nav-link active disabled" onclick="return false" href="{% url 'cltlog-home' %}"><i class="fa fa-database"></i> Daily Output Log</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'cltlog-home' %}"><i class="fa fa-database"></i> Daily Output Log</a>
                        {% endif %}
                        <a class="nav-item nav-link" href="#"><i class="fa fa-bar-chart"></i> Placeholder 1</a>
                        <a class="nav-item nav-link" href="#"><i class="fa fa-microchip"></i> Placeholder 2</a>
                    </div>
                    <!-- Right Sight -->
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="#"><i class="fa fa-sign-in"></i> Sign In</a>
                        <a class="nav-item nav-link" href="#"><i class="fa fa-user-plus"></i> Register</a>
                    </div>
                </div>
            </div>
        </nav>
        <main role="main" class="container">
            {% block content %}{% endblock content %}
        </main>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>